//AHeader aaron
* {
  font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  padding:0;
  margin:0;

}

$very-light-grey:#EEF0F1;
$light-grey:#E2E4E6;
$primary-blue:#3b49df;



.wrap-nav {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-bottom: 2px solid $light-grey;

  .left-wrap {
    display: flex;
    align-items: center;
    margin-left: 15px;

    .logo-icon {
      margin-left: 15px;
      width: 45px;
    }
  }

  .right-wrap {
    display: flex;
    align-items: center;
    margin-right: 15px;

    img {
      margin-right: 25px;
    }

    &:last-of-type {
      margin-right: 0
    }

    .profile-photo {
      border-radius: 50%;
      width: 35px;
    }
  }
}

.wrap-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $very-light-grey;

  :first-child > h1 {
    font-size: 20px;
    margin-left: 15px;
  }

  :last-child > button {
    background-color: white;
    width: 80px;
    height: 40px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 16px;
    
    &:hover {
      cursor: pointer;
    }
  }

}




.display-desktop  {
  display: none;
}



















































































































// Cards Mauricio

.mauricio {
  background: #333;
}




















































































































































// Footer mauricio

aside {
  background:#aaa;

}
